body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0e82cd;
  color: white;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.home-title {
  font-size: 3rem;
  margin-bottom: 1rem;
  animation: fadeInDown 1s ease-in-out;
}

.home-description {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  animation: fadeInUp 1s ease-in-out;
}



.button-container {
  display: flex;
  gap: 1rem;
}

.home-button {
  background-color: white;
  color: #0e82cd;
  border: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.home-button:hover {
  background-color: #e0e0e0;
  transform: translateY(-5px);
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}